<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Rooms</title>
  </head>
  <body>
    <h1>채팅방 생성 및 입장</h1>

    <!-- 채팅방 생성 폼 -->
    <form action="#" th:action="@{/chat/rooms}" method="post">
      <label for="roomName">채팅방 이름:</label>
      <input
        type="text"
        id="roomName"
        name="roomName"
        placeholder="채팅방 이름을 입력하세요"
      />
      <button type="submit">채팅방 생성</button>
    </form>

    <h2>생성된 채팅방</h2>
    <ul>
      <!-- 생성된 채팅방 목록 -->
      <li th:each="room : ${chatRooms}">
        <a
          th:href="@{/chat/rooms/{roomId}(roomId=${room.roomId})}"
          th:text="${room.roomName}"
          >채팅방</a
        >
      </li>
    </ul>
  </body>
</html>
