<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>오답 노트</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>[  오답 노트  ]</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>내용</th>
    <th>발음</th>
    <th>의미</th>
    <th>타입</th>
    <th>레벨</th>
  </tr>
  </thead>
  <tbody>
  <!-- userMistakes는 StudyEntity의 리스트임 -->
  <tr th:each="content : ${userMistakes}" th:data-id="${content.studyContentId}">
    <td th:text="${content.studyContentId}"></td>
    <td th:text="${content.content}"></td>
    <td th:text="${content.pronunciation}"></td>
    <td th:text="${content.meaning}"></td>
    <td th:text="${content.type}"></td>
    <td th:text="${content.level}"></td>
    
  </tr>
  </tbody>
</table>
</body>
</html>
