<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>학습 내용</title>
</head>
<body>
<h1>학습 내용</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>내용</th>
    <th>발음</th>
    <th>의미</th>
    <th>타입</th>
    <th>레벨</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="content : ${studyContent}">
    <td th:text="${content.studyContentId}"></td>
    <td th:text="${content.content}"></td>
    <td th:text="${content.pronunciation}"></td>
    <td th:text="${content.meaning}"></td>
    <td th:text="${content.type}"></td>
    <td th:text="${content.level}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
