<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Study Content </h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Pronunciation</th>
    <th>Meaning</th>
    <th>Type</th>
    <th>Example</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="content : ${studyContent}">
    <td th:text="${content.studyContentId}"></td>
    <td th:text="${content.content}"></td>
    <td th:text="${content.pronunciation}"></td>
    <td th:text="${content.meaning}"></td>
    <td th:text="${content.type}"></td>
    <td th:text="${content.example}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>